<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h2 class="real">Real Weather</h2>
    <div class="wither">
        <form id ="form1">
        <table>
            <tr>
               <th>
                  <input type="text" id="input1" placeholder="enter your location">
               </th>
            </tr>
            <tr>
                <th>
                    <button id="but">submet</button>
                </th>
            </tr>
        </table>
        </form>
        <p id="location">location is :</p>
        <p id="forecast">forecast is :</p>
        <p id="error"> error is : </p>
    </div>
    <script src="js/script.js"></script>
</body>
</html>